
nav {
    display: flex;
    justify-content: space-between;
    margin: 48px 87px 44px 73px;
}

nav span {
    color: #000;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

nav img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

nav a {
    color: #717172;
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin: 0 20px;
}

#sign-up {
    background-color: #1070FF;
    padding: 12px 32px;
    border-radius: 4px;
    color: #fff;
}

#web {
    color: #151517;
    font-family: Satoshi;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin: 10px;
}

#h3 {
    color: #151517;
font-family: Satoshi, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding: 0px 300px 0px 300px;
}
.container{
    display: flex;
    justify-content: space-between;
}
main{
    font-size:30px ;
    font-weight: bold;
}